# OS
# ===========
.DS_Store
ehthumbs.db
Thumbs.db
.env
TODO.md
mongodb.conf

# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
node_modules/
public/lib/
frontend/src/components/tests/coverage/
.bower-*/
.idea/
coverage/
data
dist
frontend/node_modules/

# Sublime editor
# ==============
.sublime-project
*.sublime-project
*.sublime-workspace

# Eclipse project files
# =====================
.project
.settings/
.*.md.html
.metadata
*~.nib
local.properties

# IntelliJ
# ========
*.iml
.idea

# Cloud9 IDE
# =========
.c9/
data/
mongodb.conf

# Visual Studio
# =========
*.suo
*.ntvs*
*.njsproj
*.sln